@{
    ViewBag.Title = "Home Page";
}
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>Home Page</h1>
                    <h1>GOLD FIGURE  <span clsas="d-block">ENTERPRISES   </span></h1>
                    <p class="mb-4">Welcome to GoldFigure Enterprises – Your Gateway to Premium Fitness and Sports Gear! </p>
                    <p><a href="" class="btn btn-secondary me-2">Shop Now</a></p>
                </div>
            </div>
            <div class="col-lg-7">
                <div>
                    <img src="/2514-removebg-preview.png" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="product-section">
    <div class="container">
        <div class="row">


            <div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
                <h2 class="mb-4 section-title">Crafted with top-quality materials</h2>
                <p class="mb-4">Enter a realm where fitness meets style at Gold-Figure.com. We redefine sportswear, offering a curated selection of gym essentials crafted with premium materials. From sleek activewear to durable boxing gloves and accessories like punching bags, our collection ensures you not only look the part but perform at your best.</p>
                <p><a class="btn" href="shop.html">Explore</a></p>
            </div>


            <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                <a class="product-item" href="cart.html">
                    <img class="img-fluid product-thumbnail" src="~/WEIGHTHLIFTING GLOVES.jpg" />
                    <h3 class="product-title">WEIGHTH LIFTING GLOVES</h3>
                    <strong class="product-price">$50.00</strong>

                    <span class="icon-cross">
                        <img class="img-fluid" src="images/cross.svg">
                    </span>
                </a>
            </div>

            <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                <a class="product-item" href="cart.html">
                    <img class="img-fluid product-thumbnail"
                         src="~/BASE BALL.jpg" />
                    <h3 class="product-title">BaseBall Ball</h3>
                    <strong class="product-price">$78.00</strong>

                    <span class="icon-cross">
                        <img class="img-fluid" src="images/cross.svg">
                    </span>
                </a>
            </div>

            <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                <a class="product-item" href="cart.html">
                    <img class="img-fluid product-thumbnail"
                         src="~/BASE BALL CAP.jpg" />
                    <h3 class="product-title">BaseBall Cap</h3>
                    <strong class="product-price">$43.00</strong>

                    <span class="icon-cross">
                        <img class="img-fluid" src="images/cross.svg">
                    </span>
                </a>
            </div>


        </div>
    </div>
</div>

<div class="we-help-section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-7 mb-5 mb-lg-0">
                <div class="imgs-grid">
                        <div class="grid grid-1"><img src="~/leather power lifting belt.jpg" /></div>
                        <div class="grid grid-2"><img src="~/leather weight lifting belt.jpg" /></div>
                        <div class="grid grid-3"><img src="~/leather weight lifting dipping belt.jpg" /></div>
                </div>
            </div>
            <div class="col-lg-5 ps-lg-5">
                <h2 class="section-title mb-4">Discover Elite Fitness Gear at Gold-Figure.com</h2>
                <p>Elevate your workout experience with Gold-Figure.com. Our platform offers a premium selection of gym essentials and sports apparel crafted to enhance your performance and style.</p>

                <ul class="list-unstyled custom-list my-4">
                    <li>Enhance Your Workout Experience</li>
                    <li>Personalized Service</li>
                    <li>Crafted with Excellence</li>
                    <li>A new level of performance, style, and support. </li>
                </ul>
                <p><a herf="#" class="btn">Explore</a></p>
            </div>
        </div>
    </div>
</div>




<footer class="footer-section">
    <div class="container relative">



        <div class="row">
        </div>

        <div class="row g-5 mb-5">
            <div class="col-lg-4">
                <div class="mb-4 footer-logo-wrap"><a href="#" class="footer-logo">GOLD-FIGURE<span>   Enterprises</span></a></div>
                <p class="mb-4">Welcome to Gold-Figure.com, where fitness meets style. Step into a world where the pursuit of fitness is synonymous with elegance. We redefine sportswear, offering a curated selection of gym essentials that elevate your performance and reflect impeccable taste. Unveil your gold standard in fitness with our finest sports apparel and durable boxing gloves, empowering you every step of the way. Elevate your game and style with our meticulously crafted accessories. Your journey to greatness starts here, as our collection transcends the ordinary, offering tools to sculpt your body and define your style with a fusion of performance and panache. Redefine your workout routine with Gold-Figure.com, where performance meets sophistication, inspiring confidence and commanding attention both inside and outside the gym.</p>

                <ul class="list-unstyled custom-social">
                        <li><a href="https://www.facebook.com/gold.figure2008?mibextid=kFxxJD" target="_blank"><span class="fa fa-brands fa-facebook"></span></a></li>
                        <li><a href="https://www.instagram.com/gold.figure/" target="_blank"><span class="fa fa-brands fa-instagram"></span></a></li>
                        <li><a href="https://pk.linkedin.com/in/gold-figure-745934b5" target="_blank"><span class="fa fa-brands fa-linkedin"></span></a></li>
                </ul>
            </div>
        </div>

        <div class="border-top copyright">
            <div class="row pt-4">
                <div class="col-lg-6">
                    <p class="mb-2 text-center text-lg-start">
                        Copyright ©
                        2024. All Rights Reserved For Gold-Figure — Designed by </br> UMAIR WASEEM, ZAIN IMRAN, ADEEL AMANAT
                    </p>
                </div>

                <div class="col-lg-6 text-center text-lg-end">
                    <ul class="list-unstyled d-inline-flex ms-auto">
                        <li class="me-4"><a href="#">Terms &amp; Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>

            </div>
        </div>

    </div>
</footer>
</body>